<!-- //Web App outline code

//Created as html webpage in visual studio execute by ctrl+ shift + w

//Need to figure out how to separate the text at the <body> so that there is space and the <h1> is at the top of the page
//Font size adjustments were made inline, spacing adjustments were made using padding inline.
//can use the style keyword inline to make adjustments to the spacing or use the CSS page to make adjustments -->
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head class="head">
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='styles/show_graph.css') }}"
            />
        <title>Excel graph plot</title>
    </head>
    <h1>
        <img src="../static/images/usmepcom_seal_bw.png" alt="seal 1"
            class="seal_bw" />
        <body style="background-color: #4b5320; font-size: 12px; padding: 0 0 0
            0">
            <div class="buttons">
                Tool to convert files to scatterplot
                <form action="http://localhost:5000" method="POST"
                    enctype="multipart/form-data">
                    <input type="file" id="excelFile" name="file" />
                    <button type="submit">Upload Excel File</button>

                </form>

                <form action="http://localhost:5000/graph" method="POST"
                    enctype="multipart/form-data">
                    <button type="create">Create Graph</button>

                </div>
                <div class="grid_wrapper">
                    <img src="../static/images/usmepcom_seal_c.png" alt="seal 2"
                        class="seal_c" />
                    <div class="container">
                        {% for i in range(city_count) %}
                        <input type="checkbox" value={city_cells[i]} name="City"
                            />
                        {{city_names[i]}}
                        <br
                            />
                        {% endfor %}
                    </div>
                    <div class="graph">
                        <img src="../static/images/graph.png" alt="Graph 1" />
                    </div>
                    <div class="container_2">
                        {% for i in range(attribute_count) %}
                        <input type="checkbox" value={{attribute_cells[i]}}
                            name="Attribute"
                            />
                        {{attribute_names[i]}} <br />
                        {% endfor %}
                    </div>
                </form>
                <img src="../static/images/usmepcom_seal+ffd.png" alt="seal 3"
                    class="seal_ffd" />
            </div>


        </body>
    </h1>
</html>
