<!-- //Web App outline code

//Created as html webpage in visual studio execute by ctrl+ shift + w

//Need to figure out how to separate the text at the <body> so that there is space and the <h1> is at the top of the page
//Font size adjustments were made inline, spacing adjustments were made using padding inline.
//can use the style keyword inline to make adjustments to the spacing or use the CSS page to make adjustments -->
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head class="head">
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='styles/show_graph.css') }}"
            />
        <title>Excel graph plot</title>
    </head>
    <h1>
        <img src="../static/images/usmepcom_seal_bw.png" alt="seal 1"
            class="seal_bw" />
        <body style="background-color: #4b5320; font-size: 12px; padding: 0 0 0
            0">
            <div class="buttons">
                Tool to convert files to scatterplot
                <form action="http://localhost:5000" method="POST"
                    enctype="multipart/form-data">
                    <input type="file" id="excelFile" name="file" />
                    <button type="submit">Upload Excel File</button>

                </form>

                <form action="http://localhost:5000/graph" method="POST"
                    enctype="multipart/form-data">
                    <button type="create">Create Graph</button>

                </form>
            </div>
            <div class="grid_wrapper">
                <img src="../static/images/usmepcom_seal_c.png" alt="seal 2"
                    class="seal_c" />
                <div class="container">
                    <input type="checkbox" value="B3" name="City" /> Atlanta <br
                        />
                    <input type="checkbox" value="B4" name="City" /> Baltimore
                    <br />
                    <input type="checkbox" value="B5" name="City" /> Chicago <br
                        />
                    <input type="checkbox" value="B6" name="City" /> Columbus
                    <br />
                    <input type="checkbox" value="B7" name="City" /> Dallas <br
                        />
                    <input type="checkbox" value="B8" name="City" /> Fort
                    Jackson <br />
                    <input type="checkbox" value="B9" name="City" /> Fort Lee
                    <br />
                    <input type="checkbox" value="B10" name="City" /> Houston
                    <br />
                    <input type="checkbox" value="B11" name="City" />
                    Jacksonville <br />
                    <input type="checkbox" value="B12" name="City" /> Los
                    Angeles <br />
                </div>
                <div class="graph">
                    <img src="../static/images/graph.png" alt="Graph 1" />
                </div>
                <div class="container_2">
                    <input type="checkbox" value="S3" name="Attribute" />
                    Check-In/Check-Out <br />
                    <input type="checkbox" value="S4" name="Attribute" /> Test
                    Loss
                    Compromise
                    <br />
                    <input type="checkbox" value="S5" name="Attribute" /> Total
                    Student
                    Tested
                    <br />
                    <input type="checkbox" value="S6" name="Attribute" /> Drug
                    Specimen
                    Processing
                    <br />
                    <input type="checkbox" value="S7" name="Attribute" /> HIV
                    Sample
                    Processing
                    <br />
                    <input type="checkbox" value="S8" name="Attribute" /> CLIP
                    <br />
                    <input type="checkbox" value="S9" name="Attribute" />
                    Accuracy of
                    Fee-Basis Provider Work Hour Data
                    <br />
                    <input type="checkbox" value="S10" name="Attribute" />
                    Citibank CBA
                    <br />
                    <input type="checkbox" value="S11" name="Attribute" />
                    Citibank IBA
                    <br />
                    <input type="checkbox" value="S12" name="Attribute" />
                    Timeliness of
                    Awards
                    <br />
                </div>
                <img src="../static/images/usmepcom_seal+ffd.png" alt="seal 3"
                    class="seal_ffd" />
            </div>


        </body>
    </h1>
</html>
