/* //This stylesheet css sets elements to make design changes including alignment

//MUST BE CREATED SEPARATELY 
//CAN BE IMPLEMENTED AS INLINE AS WELL*/

.multiselect {
  width: 20px;
}

.buttons {
  text-align: center;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

.seal_bw {
  width: 200px;
  height: 200px;
  margin-left: 45%;
  text-align: center;
}

.seal_c {
  width: 200px;
  height: 200px;
  grid-column: 1;
  margin-left: 35%;
}

.seal_ffd {
  width: 200px;
  height: 200px;
  grid-column: 5;
  margin-left: 25%;
}

.container {
  border: 2px solid #ccc;
  overflow-y: scroll;
  grid-column: 2;
  grid-row: 1;
  height: 300px;
  width: 200px;

  margin-top: 5%;
}

.container_2 {
  border: 2px solid #ccc;
  overflow-y: scroll;
  grid-column: 4;
  grid-row: 1;
  height: 300px;
  width: 400px;
  margin-top: 5%;
}

.grid_wrapper {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 10px;
}
